<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
  	<!-- 实体类映射文件 -->
  	<mapper resource="com/user/entity/UserMapper.xml"/>
  	<mapper resource="com/staff/entity/StaffMapper.xml"/>
  	<mapper resource="com/company/entity/CompanyMapper.xml"/>
  </mappers>
</configuration>