<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.entity.UserMapper">

<resultMap type="com.user.entity.User" id="UserResult">
	<id column="uid" jdbcType="VARCHAR" property="uid"/>
	<result column="upassword" jdbcType="VARCHAR" property="upassword"/>
	<result column="uname" jdbcType="VARCHAR" property="uname"/>
	<result column="utype" jdbcType="INTEGER" property="utype"/>
</resultMap>

  <select id="getUser" parameterType="com.user.entity.User" resultMap="UserResult">
    select uid,upassword,uname,utype from user where 1 = 1
    <if test="uid != null and !&quot;&quot;.equals(uid)">and uid=#{uid}</if>
    <if test="upassword != null and !&quot;&quot;.equals(upassword)">and upassword=#{upassword}</if>
  </select>
  
  <select id="insertUser">
  </select>
  
  <select id="deleteUser">
  </select>
</mapper>